.banner {

  margin: 0 auto;
  height: 400px;

  background-image: url('../../../assets/images/header.jpg');
  background-size: contain;

  &__heading {
    width: 100%;
    text-align:  center;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    height: 100%;
    line-height: 102px;
    text-shadow: 1px 1px 16px black;

  }

  &__image {
    img {
      height: 10rem;
    }
  }

  &__image, &__heading {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }

  @media (max-width: 768px) {

    &__image, &__heading {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &__image {
      z-index: -1;
      filter: opacity(25%);

      img {
        height: 10.75rem;
      }
    }

    &__heading {
      padding-right: 0;
      margin-top: 1rem;
    }
  }
}
