@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F4F4F4;
}

.grid {
  display: grid;
}

.content-block {
  background-color: #d8e1ec;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
